.row {
  margin-top: 10%;
}

.writeResults {
   margin-top: 10%;
   width: 500px;
   margin: auto;
}
.results {

  position: relative;
  top: 0px;
  left: 0px;
  padding: 1%;
  width: 100px
}
.classes {
  display: none;
  width: 100px;
}

.subject {
  position: relative;
  padding: 1%;
  top: 50px;
  left: -100px;
  width: 100px
}
p {
  color: black;
  margin: 5px;
  cursor: pointer;
}
.studentId {
  display: none;
}

.btn {
  margin: auto;
  display: block;
  margin-top: 3%;
}
.students {
  width: 320px;
  height: 250px;
  overflow-y: scroll;
}
